

.icon-16 {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 4px;
    fill: currentColor;
    mask-size: cover;
    background-color: #000;
}

.icon-info-16 {
    @extend .icon-16;
}

.icon-help-16 {
    @extend .icon-16;
}

.icon-warning-16 {
    @extend .icon-16;
}
